$background-color-light: #fff;
$background-color-dark: #29363b;;
$secondary-background-color: #f15822;

//Text
$text-color-dark: #29363b;
$text-color-light: #777;
$text-color-hover: #b2ac90;
$text-color-primary: #f15822;

//Forms
$form-background-color: #cacaca;
$form-text-color: #222;
$form-button-background-color: #29363b;
$form-button-text-color: #fff;